body {
	background-color: #FFF;
	color: #333;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 15px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
}

#matrix {
	border-collapse: collapse;
}
#matrix.error {
	border-color: #F00;
}
#matrix th, #matrix td {
	border: 1px solid;
	border-color: inherit;
	padding: 5px 10px 5px 10px;
}


#footer {
	font-size: 8pt;
	color: #999;
}
#footer a {
	color: #666;
	text-decoration: none;
}
